/* variables */
:root {
  --colorAdd: #86efac;
  --colorRemove: #f87171;
  --colorIcon: #7dd3fc;
  --colorNitro: hsl(295.65, 50%, 51.37%);
  --colorPing: #d95050;
}

/* animations */
@keyframes colorChangeClose {
  from {
    color: inherit;
  }
  to {
    color: var(--colorRemove);
  }
}

@keyframes colorChangeAdd {
  from {
    color: inherit;
  }
  to {
    color: var(--colorAdd);
  }
}
@keyframes colorChangeIcon {
  from {
    color: inherit;
  }
  to {
    color: var(--colorIcon);
  }
}
@keyframes colorChangeNitro {
  from {
    color: inherit;
  }
  to {
    color: var(--colorNitro);
  }
}
/* Close icons */
.closeIcon-1NwtbI:hover {
  animation-fill-mode: forwards;
  animation-duration: 100ms;
  animation-name: colorChangeClose;
}

.privateChannelRecipientsInviteButtonIcon-1ObKXK > .icon-2xnN2Y:hover {
  animation-fill-mode: forwards;
  animation-duration: 100ms;
  animation-name: colorChangeAdd;
}

/* top profile icons & friends home icon */

div[aria-label="Add Friends to DM"] > svg:hover,
div[aria-label="Pinned Messages"] > svg:hover,
div[aria-label="Start Video Call"] > svg:hover,
div[aria-label="Start Voice Call"] > svg:hover {
  animation-fill-mode: forwards;
  animation-duration: 100ms;
  animation-name: colorChangeIcon;
}

.avatarWithText-1tTt2S:hover .avatar-1HDIsL {
  animation-fill-mode: forwards;
  animation-duration: 100ms;
  animation-name: colorChangeIcon;
}

/* nitro icon */
#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.sidebar-1tnWFu > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(3) > div > a > div:hover .avatar-1HDIsL {
  animation-fill-mode: forwards;
  animation-duration: 100ms;
  animation-name: colorChangeNitro;
}

.listItem-3SmSlK:hover .pill-2RsI5Q>span {
  background-color: var(--colorPing);
}